# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# Data (kabhi commit nahi karna)
data/

# Model weights (GitHub Release / HF Hub par jayenge)
*.pt
*.pth
*.ckpt
checkpoints/

# Misc
.DS_Store
*.log
wandb/
